In [9]:
list1 = [4,5,6]

In [10]:
print(list1)

[4, 5, 6]

In [11]:
print(type(list1))
print(id(list1))

<class 'list'>
2108455718848

In [12]:
list1.append(69)
print(list1)
print(type(list1))
print(id(list1))

[4, 5, 6, 69]
<class 'list'>
2108455718848

In [13]:
i=8
j=4

if i>j:
    print("bada hai")
else:
    print("chhota hai")
print(id(i))

bada hai
140703773031064

In [14]:
str2 = "mai iss duniya ka papa hu"
str3 = "stanny inki \"guddi\" tod de"
str1 = r'tu hai \kaun be' # we can use double or sinle quotes as per convinence

In [15]:
print(str1)
print(str2)
print(str3)

tu hai \kaun be
mai iss duniya ka papa hu
stanny inki "guddi" tod de

In [16]:
str2.upper()
#str3.lower()

'MAI ISS DUNIYA KA PAPA HU'

In [17]:
str3.replace("guddi","gend")

'stanny inki "gend" tod de'

In [18]:
s1 ="seeedhe"
s2 ="maut"
s1+s2

'seeedhemaut'

In [20]:
s1<s2

False

In [ ]:
s1*5

In [5]:
print("s" in s1)
print("a" in s1)
print("S" in s1)

True
False
False

In [6]:

s1[5]

'h'

In [7]:
s1[1:4]

'eee'

In [21]:
str2[0:93] #bhai dega utna hi jitna uske pass  available hai

'mai iss duniya ka papa hu'

In [ ]:
val =input("enter your name")
print(f"Hi {val}")

Hi raaj

In [ ]:
a=1
b=-1.3
c=(a+b)
round(c)

0

In [22]:
a=6
b=4
print(bin(a))
print(bin(b))

0b110
0b100

In [23]:
print(bin(a|b))

0b110

In [24]:
shifta= a>>2
print(bin(shifta))

0b1

In [25]:
shifta

1

In [28]:
list5 =[2,5,4,6,8,7,9,3]

for e in list5:
    print(e)

2
5
4
6
8
7
9
3

In [29]:
for i in range(0,25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [31]:
str4= "avantika negi negi"
for i in range(0,len(str4)):
    print(str4[i])

a
v
a
n
t
i
k
a

n
e
g
i

n
e
g
i

In [4]:
a=1
b=10

while a<b:
  print(a)

  a+=1

1
2
3
4
5
6
7
8
9

In [7]:
a=1
b=100

while a<b:
  # count+=1
   print(a)

   a+=1

   if a>7:
     break
   
   print("bokachoda")

   #if count>500:
   #break
print("bas ho gaya")

1
bokachoda
2
bokachoda
3
bokachoda
4
bokachoda
5
bokachoda
6
bokachoda
7
bas ho gaya

In [10]:
a=1
b=100

while True:
  # count+=1
   print(a)

   a+=1

   if a>20:
      break
   
   if a>7:
     continue
   
   print("bokachoda")

   #if count>500:
   #break
print("bas ho gaya")

1
bokachoda
2
bokachoda
3
bokachoda
4
bokachoda
5
bokachoda
6
bokachoda
7
8
9
10
11
12
13
14
15
16
17
18
19
20
bas ho gaya

In [19]:
str1 = "hello bsdl bol na"
str2 ="BOl Na"

#print(str2 in str1)
print(str2.upper() in str1.upper())  #membership function

True

In [38]:
list2 =[1,2,5,7,89,'69']
list2

[1, 2, 5, 7, 89, '69']

In [23]:
for i in list2:
    print(i)

1
2
69
5
7
89

In [27]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [39]:
for i in range(0,len(list2)):
    print(f" at index \t{i} \n value is {list2(i)}")

TypeError: 'list' object is not callable

In [ ]:
list2 = {5,2,6,9}
for i in (0,len(list2)):
    print(i)

In [32]:
row1 =[51, 61]
row2 = [52,62]
matrix=[row1 ,row2]

matrix ,len(matrix)

([[51, 61], [52, 62]], 2)

In [33]:
matrix[0][0]

51

In [37]:
for i in matrix:
    print(id(matrix))
    print(i)
len(matrix)

2246777556608
[51, 61]
2246777556608
[52, 62]

2

In [41]:
def showdetails(val):
    print(f"value is {val} \n  ID is {id(val)}")

In [42]:
showdetails(list2)

value is [1, 2, 5, 7, 89, '69']
  ID is 2246783138048

In [43]:
list2[0]=1000
showdetails(list2)

value is [1000, 2, 5, 7, 89, '69']
  ID is 2246783138048

In [66]:
listA =[[1,2,3],[4,5,6],[7,8,9]]
print(listA)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
#shallow copy
listB=listA.copy()
print(listB)
print(listA)
print(id(listA))
print(id(listB))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2246777741952
2246802897664

In [72]:
#it is also shallow copy
listB=list(listA)
print(listB)
print(listA)
print(id(listA))
print(id(listB))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2246777741952
2246802842688

In [79]:
import copy
listB =copy.deepcopy(listA)
print(listB)
print(listA)
print(id(listA))
print(id(listB))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2246777741952
2246777741376

In [1]:
import keyword   
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
#initializing

var1 = 12
var2 = 45


#defining the function 

def add(a,b,c,d,e):
    res =a+b+c+d+e
    return res



#using function
result =add(var1,var2,5,2,3)  # we can pass any data type as argument in a variable functio will treat every variable as an object
print(f"result is {result}")

result is 67

write a function that takes two values and return the result

In [4]:
def taking(a , b):
    c=a+b
    print(c) 

taking(8 ,5)

13

In [12]:
def greet(name ,massage):
    print(f"HI {name} {massage}")

name = "Raj!"
massage = "How are you ?"
greet(name ,massage)
# greet(name= "Raj" , massage= "HOw are you") #Another way to print

HI Raj! How are you ?

In [3]:
x =10   #Global variable

def outer_function():
    x = 20    #Enclosing variable
    def inner_function():
        x = 30  #Local variable
        print(x)          # output : 30
    inner_function()
    print(x)               # output :20


outer_function()
print(x)       
          #output = 10

30
20
10

In [4]:
counter = 0

def increament():
    global counter
    counter += 1

In [5]:
increament()
print(counter)

1

In [6]:
def modify_immutable(x):
    x+=1
    print(f"inside function : {x}")

In [7]:
a = 6
modify_immutable(a)
print(f"outside function : {a}")

inside function : 7
outside function : 6

In [8]:
def modify_mutable(list):
    list.append(7)
    print(f"inside function : {list}")

In [9]:
my_list = [1 ,2 , 3]
modify_mutable(my_list)
print(f"outside function : {my_list}")

inside function : [1, 2, 3, 7]
outside function : [1, 2, 3, 7]

In [13]:
def square(x):
    return x*x

f =square
print(f(5))

def apply_function(fun ,val):
    return fun(val)

25

In [15]:
result = apply_function(square , 15)
print(result)

225

In [16]:
def double(x):

    return x*2

def triple(x):
    return x*3

def apply_operation(fun ,number):
    return fun(number)

In [17]:
print(apply_operation(double , 5))
print(apply_operation(triple , 5))

10
15

### lambda function ###

**lambda function to add two numbers**

In [18]:
add =lambda a , b: a + b
print(add(5,9))

14

In [19]:
numbers = [4 , 5 ,6 , 15]
squared = map(lambda x: x * x ,numbers)
print(list(squared))

[16, 25, 36, 225]

**filter function : checks condition true then return it and if condition is false then ignores it move ahead**

In [22]:
even_numbers = filter(lambda x: x % 2 == 0 , numbers)
print(list(even_numbers))

[4, 6]

### write a function to multiply three numbers and return its result using both normal function and lambda function ###

In [20]:
def multiply(a , b ,c):
    return (a*b*c)

multiply( 5, 6 ,2)

60

In [21]:
multiply = lambda a, b ,c: a*b*c
print(multiply(4,5,3))

60

__creating a list of squares of even numbers from 0 to 9__

In [23]:
squares = []
for i in range(10):
    if i % 2 == 0:
        squares.append(i ** 2)

__creating a list of squares of even numbers from 0 to 9 using list comprehension__

In [24]:
squares = [ i**2 for i in range(10) if i % 2 == 0]

### write a program that takes directory address from user and returns a list of file names in that directory ###
__you can use os module to perform these actions__

In [2]:
import os

#help(os)

address = input("Enter location")
#address = "C:\Users\GODFATHER07\Desktop\py notebook"

In [3]:
os.chdir(address)

list_of_files = os.listdir()
list_of_files

['mycllass.ipynb', 'Python assignment1.ipynb']

###  Write a function that generates email using sap id ###

In [5]:
#sap id is
#590011165
#email
#590011165@stu.upes.ac.in

#using
#1. functions/for loop
#2. map/filter and lambda
#3. list comprehension

In [7]:
#  1st logic using function
 
sap_ids = [123 , 23456 ,54879 , 133165]

def id2email(id):
    return str(id)  + "@stu.upes.ac.in"

def sap_ids_to_emails(sap_ids):
    emails = []
    for id in sap_ids:
        email = id2email(id)
        emails.append(email)
        
    return emails

list_of_emails = sap_ids_to_emails(sap_ids)
list_of_emails

['123@stu.upes.ac.in',
 '23456@stu.upes.ac.in',
 '54879@stu.upes.ac.in',
 '133165@stu.upes.ac.in']

In [11]:
#2nd logic using map/list and lambda function

sap_ids = [123 , 23456 ,54879 , 133165]

def id2email(id):
    return str(id)  + "@stu.upes.ac.in"

#list_of_emails = map(id2email,sap_ids)  #for python2

list_of_emails = list(map(id2email,sap_ids)) #for python3
list_of_emails

['123@stu.upes.ac.in',
 '23456@stu.upes.ac.in',
 '54879@stu.upes.ac.in',
 '133165@stu.upes.ac.in']

In [13]:
sap_ids = [123 , 23456 ,54879 , 133165]

list_of_emails = list(map(lambda id: str(id) +  "@stu.upes.ac.in" ,sap_ids )) 
list_of_emails

['123@stu.upes.ac.in',
 '23456@stu.upes.ac.in',
 '54879@stu.upes.ac.in',
 '133165@stu.upes.ac.in']

In [14]:
#3rd using list comprehension 

sap_ids = [123 , 23456 ,54879 , 133165]

list_of_emails = [f" {id}stu.upes.ac.in" for id in sap_ids]
list_of_emails

[' 123stu.upes.ac.in',
 ' 23456stu.upes.ac.in',
 ' 54879stu.upes.ac.in',
 ' 133165stu.upes.ac.in']